.create-product-input{
	border: solid 1.5px #E0E0E0;
	border-radius: 5px;
	padding:10px 10px;
	padding-left: 10px;
	padding-right: 0px;
	font-size:15px;
	color:#424242;
	margin-bottom: 15px;
	font-family: "Avenir Next";
	transition:0.3s ease;
	width: 100%;
	background-color: white;
}

.file-input-container>input[type="file"]{
	display:none;
}

.big-files{
	text-align: center;
}
.big-files>label{
	text-align: left;
	margin-bottom: 10px;
}

.file-input-container{
	width:45px;
	height:75px;
	background-color: rgba(0,0,0,0.2);
	color:white;
	cursor: pointer;
	text-align: center;
	display:inline-table;
	margin-right:10px;
}

.file-input-container>div{
	display: table-cell;
	vertical-align: middle;
}

.create-product-input:focus{
	border: solid 1.5px #BDBDBD;
	transition:0.3s ease;
}

.create-product-input::placeholder{
	font-size:15px;
	color:#BDBDBD;
}

.create-product-container>form{
	margin:auto;
	width:30%;
	margin-bottom: 50px;
}

.create-product-container>form>div>label{
	display: block;
	width: 100%;
	font-weight: bold;
	color: rgba(0,0,0,0.7);
	font-family: "Avenir Next";
}

.create-product-container>form>div{
	width: 100%;
}

.create-product-container>form>div.submitDiv{
	text-align: center;
	font-family: "Avenir Next";
	margin-top:20px;
}

.create-product-container{
	margin-top: 100px;
	display:flex;
	flex-direction: row;
}

.create-product-submit{
	background-color:black;
	color:white;
	border-radius: 28px;
	width:280px;
	padding:10px 10px;
	font-size:20px;
	outline:none;
	border:2px rgba(0,0,0,0.6) solid;
	margin:auto;
	font-family: "Avenir Next Demibold";
}


@media (max-width:480px)  {
	.create-product-container>form{
		width:60%;
	}

	.create-product-container>form>div>input[type="submit"]{
		width:100%;
	}
}
