a{
	color:black;
	text-decoration: none;
}

.main-container{
	display:flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 25px;
}

.main-container>.search-container{
	display: flex;
	justify-content: center;
	width:100%;
}

.main-container>.search-container>form>.searchField {
	border: solid 1.5px #E0E0E0;
	border-radius: 5px;
	width:120px;
	padding:10px 10px;
	font-size:14px;
	color:#424242;
	font-family: "Avenir Next Regular";
	transition:0.3s ease;
	margin-right:12px;
}

.main-container>.search-container>form>.searchField:focus {
	border: solid 1.5px #BDBDBD;
	transition:0.3s ease;
}
	

.main-container>.search-container>form>.searchButton {
	background-color:black;
	color:white;
	border-radius: 6px;
	width:80px;
	padding:10px 10px;
	font-size:12px;
	height: 42px
}

.list-filter-container{
	width:100%;
	display: flex;
	flex-direction: row;
	padding-top:30px;

}



.main-listings{
	display:flex;
	flex-direction: row;
  	height: 100%;
  	margin-right: auto;
  	margin-left: auto;
  	flex-grow:4;
  
}

.main-listings>.products{
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	text-align: left;
}

.main-filters{
	display: flex;
	flex-grow:1;
	padding-left:20px;
	height:30px;
	border: 10px red;
	flex-direction: column;
}

.filterHeader{
	font-family: "Avenir Next Bold";
}

.filterType {
	margin-bottom:25px;
}

.filterHr{
	width:100%;
	height:4px;
	background-color:#BDBDBD;
	margin-top: 10px;
	margin-bottom: 10px;
}

.filterLabel{
	font-family: "Avenir Next Regular";
	margin-left:4px;
}

.filter-subheader{
	margin-bottom:8px;
}

.filterName{
	font-family: "Avenir Next Regular"
}




