.messages-container{
	display:flex;
	flex: 1;
	min-height: 0px;
}
.messages-right{
	display:flex;
	flex-direction: column;
	flex:1;
}

.messages-right>.message-thread{
	padding-left: 10px;
	padding-right: 20px;
	overflow-y: scroll;
}

.messages-right>.message-topbar{
	width: 100%;
	margin:0;
	padding:15px 0px;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,0.25) ;
}

/* SEND INPUT */

.messages-send{
	width: 100%;
	border-top: 1px solid rgba(0,0,0,0.5);
}

::-webkit-input-placeholder { /* WebKit browsers */
    opacity: 0.4 !important;
}

.messages-send>form{
	display: flex;
	align-items: center;
}

.messages-send>form>input[name=message]{
	width: 75%;
	float:left;
	border-radius: 0px;
	border: 0.5px solid rgba(0,0,0,0.2);
	margin:10px 0px 10px 10px;
	padding: 5px;
}

.messages-send>form>input[name=sendButton]{
	background:none;
	border:none;
	color: rgba(0,0,0,0.7);
	font-weight: bold;
}

.messages-send>form>input[name=sendButton]:disabled{
	color: rgba(0,0,0,0.2);
}

.messages-send>form>.action-icons{
	color:rgba(0,0,0,0.3);
	display: flex;
	font-size:20px;
	height: 100%;
	flex:1;
	right: 0px;
	justify-content: flex-end;
}

.messages-send>form>.action-icons>.action-icon{
	margin: 0px 5px;
	cursor:pointer;
	width: 100%;
	text-align: center;
	padding:5px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 14px;
	background-color: black;
	color:white;
}

.message-list>.messageTypes{
	text-align: center;
}

.message-list>.messageTypes>a{
	display: inline-block;

	width:50%;
	cursor:pointer;
	padding:20px 0px;

	color:black;
	text-transform: uppercase;
}

.message-list>.messageTypes>a>p{
	width:80px;
	padding-bottom: 10px;
	margin:auto;
}

.message-list>.messageTypes>a>.selected{
	border-bottom:black solid 2px;
}

.message-list>.messageTypes>a>.notSelected{
	border:none
}
.displayNone{
	display: none;
}
