/* SENDER MESSAGE */
.sender-offer, .reciever-offer{
	width:100%;
	text-align: center;
}

.offer-container{
	font-size:16px;
	display: inline-block;
	vertical-align: top;
	background-color: white;
	border: rgba(0,0,0,0.3) 1px solid;
	border-radius: 20px;
	padding: 6px 0px;
	color:black;
	margin:1px auto;
	text-align: left;
	width:50%;
	padding-top:10px;
}

.offer-container>img{
	padding:0px 20px;
	width:60px;
	height:60px;
}

.offer-container>.info-items{
	display:inline-block;
	vertical-align: top;
	width: 70%;
	padding-bottom: 15px;
}

.offer-container>div>b, .offer-container>div>.sub{
	padding-left:12px;
}

.offer-container>div>.sub{
	color: rgba(0,0,0,0.7);
}

.offer-container>.action-items{
	text-align: center;
	padding:6px 0px;
	font-weight: bold;
	padding-bottom: 0px;
}

.offer-container>hr, .offer-container>.action-items>hr{
	width:100%;
	margin:0;
	padding:0;
	border:0.5px rgba(0,0,0,0.3) solid;
}

.offer-container>.action-items>#accept-btn{
	font-size:14px;
	display: inline-block;
	vertical-align: top;
	border-radius: 20px;
	color:#0084ff !important;
	margin:1px 0px;
	cursor:pointer;
}

.offer-container>.action-items>p{
	padding:6px 0px;
	width: 100%;
	text-align: center;
	cursor:pointer;
	color:rgba(0,0,0,0.6);
}
