/* FONTS */

@font-face {
  font-family: 'Gotham Book';
  src: url("./fonts/Gotham Book.ttf") format('ttf');
}

@font-face {
  font-family: 'Gotham Black';
  src: url("./fonts/GOTHAM-BLACK.TTF") format('ttf');
}

@font-face {
  font-family: 'Gotham Light';
  src: url("./fonts/GOTHAM-LIGHT.TTF") format('ttf');
}

@font-face {
  font-family: 'Gotham Medium';
  src: url("./fonts/GOTHAM-MEDIUM.TTF") format('ttf');
}

@font-face {
  font-family: 'Montserrat Regular';
  src: url("./fonts/Montserrat-Regular.ttf") format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url("./fonts/OpenSans-Regular.ttf") format('ttf');
}

@font-face {
  font-family: "Avenir Next Regular";
  src: url(./fonts/AvenirNext-Regular-08.ttf);
}

@font-face {
  font-family: "Avenir Next Bold";
  src: url(./fonts/AvenirNext-Bold-01.ttf);
}

@font-face {
  font-family: "Avenir Next Medium";
  src: url(./fonts/AvenirNext-Medium-06.ttf);
}

@font-face {
  font-family: "Avenir Next Heavy";
  src: url(./fonts/AvenirNext-Heavy-09.ttf);
}

@font-face {
  font-family: "Avenir Next UltraLight";
  src: url(./fonts/AvenirNext-UltraLight-11.ttf);
}